<%-include("./partials/header.ejs")%>
    <title>Home Page</title>
</head>
<body>
    <h1>iBrick</h1>
    <h2>This is the Home Page</h2>
<nav>
    <a href="/users/register">Register</a>
    <a href="/lego">index</a>
</nav>
</body>
</html>