<%-include("./partials/header.ejs")%>
    <title>Home Page</title>
</head>
<body>

   
<div><img src="https://i.imgur.com/wWo9nuT.jpg" id="bg-image"></div>
<div class="container">
<a class="btn btn-primary btn-lg" href="/users/register" role="button">Register</a>
<a href="/users/signin">Sign in</a></div>
<a href="/lego">index</a>
</dix>

<%- include('./partials/footer.ejs') %>

