<%-include("./partials/header.ejs")%>
    <title>Home Page</title>
</head>
<body>
   <div class="welcome">
<h2>Welcome to iBrick!</h2></div>
<div class="intro">
   <p>Please register to start adding sets.</p></div> 
<div><img src="https://i.imgur.com/wWo9nuT.jpg" id="bg-image"></div>
<div class="btn-responsive">
<a class="btn btn-primary btn-lg" href="/users/register" role="button">Register</a>
<a class="btn btn-secondary btn-lg" href="/users/signin" role="button">Sign in</a>
</dix>
</div>
<div class="contact">
<p class="questions">Have questions?</p>
<a href="/lego/contact">Contact Us</a></div>
<%- include('./partials/footer.ejs') %>

