<%-include("./partials/header.ejs")%>
    <title>New Page</title>
</head>
<body>
    <h1> This is the new page(lego "new" page)</h1>
    

    <form method="POST" action="/lego">
      <fieldset>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter name">
      </fieldset>
      <fieldset>
        <label for="description">Description:</label>
        <textarea id="description" type="text" name="description" placeholder="Enter description">
        </textarea>
    </fieldset>
        <fieldset>
            <label for="pieces">Pieces?</label>
            <input id="pieces" type="number" name="pieces" placeholder="How many pieces?">        
        </fieldset>
        <fieldset>
            <label for="img">Image:</label>
            <input id="image" type="string" name="image" placeholder="insert image URL">        
        </fieldset>
        <fieldset>
            <label for="instructions">Instructions:</label>
            <input id="instructions" type="string" name="instructions" placeholder="insert instructions URL">        
        </fieldset>
        <fieldset>
            <label for="value">Value:</label>
            <input id="value" type="number" name="value" placeholder="enter value">        
        </fieldset>
        <fieldset>
            <label for="qty">Quantity:</label>
            <input id="qty" type="number" name="qty" placeholder="enter qty">        
        </fieldset>
    <fieldset>
        <label for="retired">Retired set?</label>
        <input id="retired" type="checkbox" name="retired">
      </fieldset>
      <button>Add new Lego set</button>
    </form>
    <a href="/">return to Home page</a>
    <a href="/lego">Return to database</a>
</body>
</html> 
</body>
</html>