<%- include('../partials/header.ejs') %>

<div class="container">
<div><img src="https://i.imgur.com/5MGamyj.jpg" id="bg-image">

    
    <div class="forms">
      <h1>Sign In</h1>
      <div class="col-lg-12">
    <form action="/users/signin" method="POST">
        <label for="username" class="username-label">Username:</label>
        <input type="text" name="username" placeholder="enter username" class="form-control"/>
  
        <label for="password" class="password-label">Password:</label>
        <input type="password" name="password" placeholder="enter password" class="form-control"/>
      <br/>
      <input type="submit" value="Sign In" class="form-control">
    </form>
    </div>
  </div>
  </div>
  </div>
  <%- include('../partials/footer.ejs') %>