<%- include('../partials/header.ejs') %>


<div><img src="https://i.imgur.com/5MGamyj.jpg" id="bg-image"></div>
    <h1>Sign In</h1>
    <div class="row my-5">
      <div class="col-lg-4">
    <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
      <input type="submit" value="Sign In">
    </form>
    </div>
  </div>
  </body>
</html>
